*{
    margin: 0px;
    padding: 0px;
    font-family: 'Jost', sans-serif;
    box-sizing: border-box;
}

html{
    height: 100%;
    opacity: 0.9;
    scroll-behavior: smooth
}

.container-fluid {
    display: flex;
    flex-direction: column;
}

nav {
    overflow:initial !important;
    position: static;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: #fae1e1;
    opacity: 0.7;

    -webkit-box-shadow: 0 8px 6px -9px rgb(22, 21, 21);
	   -moz-box-shadow: 0 8px 6px -9px rgb(22, 21, 21);
	        box-shadow: 0 8px 6px -9px rgb(22, 21, 21);
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(51, 38, 38);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
}

#logo {
    color: rgb(51, 38, 38);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    min-height: 85vh;
    overflow: hidden;

    color: black;
    letter-spacing: 2px;
    font-size: 22px;
    text-align: center;

    /* background-image: url('img/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left; */
}

.profile .name{
    color: #728394;
    font-weight: 700;
}

.profile p{
    margin-top: 0px;
    margin-bottom: 15px;
}

.icon-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin:auto;
}

.icon-links a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50%;
    border: solid 3px;
    color: white;
    width: 50px;
    height: 50px;
    text-decoration: none;
    background-color: black;
}

.icon-links li{
    list-style: none;
}

.arrow{
    padding-top: 10px;
    margin-bottom: 30px;
}

.arrow a {
    color: black;
}

.icon-links a:hover {
    animation: heartBeat 3s;
}

.profile-image img:hover {
    animation: pulse 3s;
}

.profile-image img {
    border-radius: 50%;
}

#particles-js canvas {
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
} 

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

/* .terminal{
    width: 80%;
    background-color: #1e1e1e;
    border-top: 40px solid #d5d5d5;
    border-radius: 5px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
      0 2px 4px -1px rgba(0, 0, 0, 0.2);
      margin: 0 auto;
}

.terminal-header{
    position: relative;
    top: -35px;
    left: 0;
    width: 100%;
    height: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15px;
}

.terminal-header h2 {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.dot{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 7px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    background-color: white;
}

.terminal-content {
    display: flex;
    justify-content: space-around;

    font-size: 15px;
    padding: 30px;
    color: darkorchid;
    margin: auto;
    font-weight: bold;
} */


.title{
    font-weight: bold;
    letter-spacing: 3px;
}

.division{
    margin-top: 70px;
    margin-bottom: 70px;
}

.projects {
    min-height: 85vh;
    font-size: 18px;
}

.project {
    padding: 20px 0px 20px 0px;
}

.project-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-img img:hover {
    animation: pulse 2s;
}

.project-info {
    padding: 30px;
}

.about {
    min-height: 85vh;
    font-size: 19px;
    letter-spacing: 1px;

}

.about #arrow {
    border-right:2px solid black;
    border-bottom:2px solid black;
    width:10px;
    height:10px;
    transform: rotate(-45deg);
    margin-top:40px;
}

.about ul li {
    position: relative;
    padding-bottom: 10px;
    padding-left: 30px;
}

.about ul {
  list-style: none;
}

.about ul li:before{
   content: '';
   position: absolute;
   border-right:2px solid black;
   border-bottom:2px solid black;
   width:10px;
   height:10px;
   top: calc(50% - 4px);
   left: 10px;
   transform: translateY(-50%) rotate(-45deg);
}

.about-img {
    padding: 40px;
}

.about h4 {
    color: #728394;
    font-weight: 700;
    font-size: 26px;
}

.skills {
    /* min-height: 85vh; */
    font-size: 19px;
    letter-spacing: 1px;
}

.contact {
    /* min-height: 85vh; */
    font-size: 19px;
    letter-spacing: 1px;
}

.contact li {
    display: flex; 
    align-items: center;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: #fae1e1;
    min-height: 15vh;
}

@media screen and (max-width:768px){
    .nav-links{
        display: none;
    }

    .profile-info p{
        font-size: 18px;
    }
    
    .profile-info h2{
        font-size: 28px;
    }   
    
    .division {
        padding: 20px;
    }
}
